[submodule "plotting-env"]
	path = plotting-env
	url = ./plotting-env/
[submodule "terminal-setup"]
	path = terminal-setup
	url = ./terminal-setup/
[submodule "ubuntu-nuclear-software-installer"]
	path = ubuntu-nuclear-software-installer
	url = ./ubuntu-nuclear-software-installer/
[submodule "conda-envs"]
	path = conda-envs
	url = ./conda-envs/
[submodule "latex-note-taking"]
	path = latex-note-taking
	url = ./latex-note-taking/
[submodule "ubuntu-post-installer"]
	path = ubuntu-post-installer
	url = ./ubuntu-post-installer/
